#form {
  margin: 20px;
  margin-bottom: 80px;
}

#no-results {
  text-align: center;
  margin-top: 100px;
}

#no-save {
  text-align: center;
  margin-top: 100px;
}

.card-header {
  background-color: #899065;
  color: white;
  font-size: 18px;
}

.card-body {
  margin-left: 10%;
  margin-right: 10%;
}

.image-description-div {
  padding: 10px;
}

.title-div {
  padding: 10px 0px 10px 10px;
  font-family: 'Patua One', cursive;
}

.title-div .title {
  font-size: 2rem;
}

.title-div .author {
  font-size: 1.5rem;
}

.buttons {
  min-height: 50px;
}